* , ::after , ::before {
    padding: 0px ;
    margin: 0px;
    box-sizing: border-box;
}

.title-text{
    font-size: 2rem;
    margin-top: 2rem;
    font-weight: 700;
}
.player-name{
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
    margin: 0.25rem .5rem;
}
.submit-btn{
    font-weight: 800 !important;
}
.icon-div{
    background-color: rgb(209, 209, 209);
    height: 60px;
    width: 60px;    
    border-radius: 50%;    
}